@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Montserrat:wght@700;800&display=swap');

:root {
    --main-color: #56A9F7;
    --secondary-color: #fff;
    --third-color: #135DA3;

    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

.service {
    align-items: center;
    justify-content: center;
}

section#hero {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

section#about-us {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

section#explore {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

section#about-us2 {
    height: 100%;
    background-color: var(--main-color);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 60px 0;
}

section#service{
    height: 100%;
    background-color: var(--main-color);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 60px 0;
}

#about-us2 .heading{
    color: #fff;
}

#service .heading{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 800;
}

section#popular {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.img-full {
    width: 100%;
}

.img-full2 {
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-text {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: flex;
}

.popular-text {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.slide {
    margin-bottom: 50px;
}

nav{
    position: fixed;
    z-index: 999;
    align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.about-us-text {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: flex;
}

.heading {
    font-family: var(--secondary-font);
    font-size: 56px;
}

.heading-btn {
    font-family: var(--secondary-font);
    font-size: 42px;
    margin-bottom: 60px;
}

.heading-btn span {
    color: var(--third-color);
}
.slidder{
    width: 400px;
}

.isi{
    margin-bottom: 10px;
}

.title {
    font-family: var(--secondary-font);
    font-size: 20px;
}

.heading span {
    color: var(--third-color);
}

.title span {
    color: var(--third-color);
}

.sub-heading {
    font-family: var(--main-font);
    font-size: 18px;
}

.card {
    width: 60%;
    padding: 10px;
    display: flex;
}


.row-reverse {
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
}

section#partners{
    margin-buttom: 100px;
}

footer{
    margin-top: 100px
    background-color: #56A9F7;
}

.wrapper-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 55px;
    height: 100%;
    transition: .3s ease-in-out;
}

.wrapper-nav li {
    list-style: none;
}

.wrapper-nav li a {
    text-decoration: none;
    color: var(--secondary-color);
    font: var(--main-font);
    font-weight: 500;
}

nav {
    padding: 30px 0;
    background-color: var(--main-color);
}

.img-slider {
    width: 100%;
}

.partners{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger{
    font-size: 40px;
    display: flex;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 1000;
    color: var(--third-color);
}

@media (max-width: 1199px) {


    .about-us-text {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;
        display: flex;
        padding: 30px 0;
    }

    .row-up {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    section#about-us2 {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    #hero {
        flex-direction: column;
        height: auto;

    }

    .wrapper-nav {
        gap: 55px;
    }

    .wrapper-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--third-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: circle(0.4% at 100% 0);
    }

    .wrapper-nav.active {
        z-index: 999;
        width: 100%;
        height: 100%;
        clip-path: circle(141.2% at 0 100%);
    }

    .close{
        font-size: 40px;
        right: 40px;
        top: 40px;
        display: flex;
        position: fixed;
        color: var(--secondary-font);
    }

    .hamburger {
        font-size: 40px;
        display: flex;
        align-items: end;
        justify-content: end;
        height: 100%;
        margin: 0 auto;
        z-index: 999;
        color: var(--secondary-color);
    }

    #about-us2.img-full {
        width: 100%;
        margin: 10px;
    }

    #service.img-full{
        width: 100%;
        margin: 10px;
    }

    nav{
        position: static;
        width: 100%;
    }

    .hamburger{
        font-size: 40px;
        display: flex;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1000;
        color: var(--third-color);
    }
}



@media (max-width:991px) {

    .heading-btn {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }

    section#hero {
        height: 100%;
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    .title {
        font-family: var(--secondary-font);
        font-size: 16px;
    }

    section#about-us {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    section#about-us2 {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    section#explore {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    section#popular {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    .slide {
        margin-bottom: 20px;
    }

    .heading-btn {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .row-reverse {
        flex-direction: column-reverse;
    }

    .row-up {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading {
        font-size: 46px;
    }

    .sub-heading {
        font-size: 12px;
    }

    .card {
        width: 100%;
        display: flex;
    }

    .wrapper-nav {
        gap: 40px;
    }

    .about-us-text {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;
        display: flex;
        padding: 30px 0;
    }

    #hero .img-full{
        margin-top: 50px;
    }
}

@media (max-width:576px) {

    .img-full2 {
        width: 100%;
        margin: 10px;
    }

    button.btn.btn-primary {
        font-size: 14px;
    }

    section#hero {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    section#about-us {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    section#explore {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    section#about-us2 {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    section#popular {
        height: 100%;
        flex-direction: column;
        height: auto;

    }

    .slide {
        margin-bottom: 20px;
    }

    .title {
        font-family: var(--secondary-font);
        font-size: 12px;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading {
        font-size: 24px;
    }

    .sub-heading {
        font-size: 12px;
    }


    .heading-btn {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .sub-heading {
        font-size: 12px;
    }

    .card {
        width: 100%;
        display: flex;
    }

    .wrapper-nav {
        gap: 40px;
    }

    .img-select {
        width: 20px;
    }

    .img-slider {
        width: 100%;
    }

    .slide {
        width: 40px;
    }

    .swipper {
        width: 400px;
    }


    .about-us-text {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;
        display: flex;
        padding: 10px 0;
    }

}

@media (max-width: 1400px) {
    #explore .heading {
        margin-bottom: 100px;
    }
}