@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Montserrat:wght@700;800&display=swap');

:root {
    --main-color: #56A9F7;
    --secondary-color: #fff;
    --third-color: #135DA3;

    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

/* body {
    background-color: var(--secondary-color);
} */

*{
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1598px;
}

.section-margin {
    margin-top: 200px;
}

body {
    height: 2000px;
    background: linear-gradient(180deg, rgba(0, 133, 255, 0.63) 59.69%, rgba(0, 133, 255, 0) 100%);
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.navbar .container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar .menu-wrapper .menu{
    margin: 0 auto;
}


/* .navbar .logo{
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 800;
    color: blue;
}
.navbar .logo span{
    color: var(--third-color);
} */

.navbar .menu a {
    color: white;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 100;
    margin: 0 20px
}

.navbar .menu a.active{
    color: var(--third-color);
    font-weight: 800;
}

.navbar .hamburger{
    font-size: 40px;
    color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .navbar .menu-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--third-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: circle(0.4% at 100% 0);
    }

    .navbar .menu-wrapper.active{
        clip-path: circle(141.2% at 0 100%);
    }

    .navbar .menu a{
        display: block;
        margin: 50px 0;
    }

    .navbar .menu a.active{
        color: var(--main-color);
    }
}

button{
    padding: 12px;
    border: 2px white solid;
    font-family: var(--secondary-font);
    font-weight: 100px;
    border-radius: 12px;
    color: var(--secondary-color);
    background-color: transparent;
}